body {
  font-size: 16px;
  color: rgb(0, 0, 0)
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #a0a0a0;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Company name */
  color: hsl(0, 0%, 0%);
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}
/* END HEADER */

/* Main Section */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#title {
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  padding-bottom: 30px;
}

#food-category {
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 30px;
  background-color: rgb(136, 136, 136);
  border-top: 0;
}

#food-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

#food-description {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* END Main Section */

/********** Large devices only **********/
@media (min-width: 1200px) {
  #nav-list a {
    color: transparent;
    pointer-events: none;
  }
  #nav-list a:hover {
    background: none;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #nav-list a {
    color: transparent;
    pointer-events: none;
  }
  #nav-list a:hover {
    background: none;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #nav-list a {
    color: transparent;
    pointer-events: none;
  }
  #nav-list a:hover {
    background: none;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    border-bottom-style: solid;
    background-color: white;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

}
